html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.flex-grid {
    display: flex;
}

.col1 {
    flex: 1 1 0;
    width: 20%;
}

.col2 {
    flex: 2 1 auto;
    width: 80%;
}

body {
    background-color: #E7E8D1;
}

footer {
    background-color: #A7BEAE;
    color: #B85042;
}


/*.white-1e1d7 {
    background-color: white;
    color: #b58863;
}*/
.white-1e1d7 {
    background-color: #f0d9b5;
    color: #b58863;
}

/*.black-3c85d {
    background-color: black;
    color: #f0d9b5;
}*/
.black-3c85d {
    background-color: #b58863;
    color: #f0d9b5;
}
