@{
    ViewData["Title"] = "Chess for grandmasters";
}
<div id="divOverlay">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <div class="text-center">
                    <h1 class="display-4">Stockfish Chess</h1>
                    <p class="h5">Play chess against the famous Stockfish chess engine, which can analyse over 1 million moves per second. You are playing white. Good luck. If you win a prize will be sent to your home address.</p>
                </div>

                <div class="container p-3 my-3 bg-primary bg-opacity-25 text-white" style="width:220px;border-radius:10px">

                    <div class="d-flex justify-content-center">
                        <div class="h4" style="padding-bottom:10px; color:#36454F">Play a game</div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button id="btnStart" type="button" onclick="StartGame()" class="p-2 btn btn-primary">Start Game</button>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="p-2 dropdown">
                            <button id="dropdownMenuButton" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select difficulty
                            </button>
                            <div id="dropdownMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="javascript:ItemSelected('5')">Easy</a>
                                <a class="dropdown-item" href="javascript:ItemSelected('10')">Medium</a>
                                <a class="dropdown-item" href="javascript:ItemSelected('20')">Hard</a>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div id="divMessage" class="h5" style="color:#36454F; padding-top:8px">Difficulty : Easy</div>
                    </div>
                </div>

                <div class="container">
                    <div class="row justify-content-md-center">
@*                         <div class="col-sm-2 col-md-2 col-lg-2">
                        </div> *@
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div id="myBoard" class="p-2" style="width:100%;"></div>
                        </div>
@*                         <div class="col-sm-2 col-md-2 col-lg-2">
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>